:root {
    /* Text System */
    --font-size-p: 14px; /*p*/
    --font-size-h1: 28px; /*h1*/
    --font-size-h2: 24px; /*h2*/
    --font-size-h3: 24px; /*h3*/
    --font-size-h4: 16px; /*h4*/
    --font-size-h5: 12px; /*h5*/
    --font-size-h6: 10px; /*h6*/
    --font-size-mobile-p: 16px; /*p*/
    --font-size-mobile-h1: 28px; /*h1*/
    --font-size-mobile-h2: 22px; /*h2*/
    --font-size-mobile-h3: 24px; /*h3*/
    --font-size-mobile-h4: 18px; /*h4*/
    --font-size-mobile-h5: 16px; /*h5*/
    --font-size-mobile-h6: 14px; /*h6*/  
    /* Scroll To Top */
    --scrolltotop-size: 20px;
    --scrolltotop-color: #808080;
    --scrolltotop-hover-color: #000000;
    --scrolltotop-bottom-distance: 10px;
    --scrolltotop-right-margin: 10px;
    --scrolltotop-z-index: 100;
    --scrolltotop-border: none;
    --scrolltotop-outline: none;
    --scrolltotop-cursor: pointer;
    --scrolltotop-padding: 20px;
    --scrolltotop-background-color: transparent;
    /* Custom Scroll Bar */
    --scrollbar-width: 8px;
    --scrollbar-track-color: transparent;
    --scrollbar-thumb-color: #868686;
    --scrollbar-thumb-hover-color: #4d4d4d;
    /* Main */
    --main-width-1: 1100px;
    --main-width-2: 1300px;
    --main-width-3: 1500px;
    /* Custom */
    --mobile-padding: 16px;
}

* {
    font-size: var(--font-size-p);
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    transition: all ease 0.3s;
    padding: 0;
    margin: 0;
    color: var(--text-1);
}
body {
    background: var(--background);
}

body {
    --background: #ffffff;
    --text-1: #ffffff;
    --text-2: #555555;
    --link: #ffffff;
    --link-hover: #c4c4c4;
    /* --------------------------- */
    --btn-norm: #202020;
    --btn-norm-hover: #474747;
    --btn-norm-text: #ffffff;
    --btn-norm-text-hover: #ffffff;
    --btn-cta: #0066B2;
    --btn-cta-hover: #167ece;
    --btn-cta-text: #ffffff;
    --btn-cta-text-hover: #ffffff;
    /* --------------------------- */
    --border: 1px solid #d1d1d1;
}
body.darkmode {
    --background: #151515;
    --text-1: #dfdfdf;
    --text-2: #919191;
    --link: #eeeeee;
    --link-hover: #cccccc;
    /* --------------------------- */
    --btn-norm: #dfdfdf;
    --btn-norm-hover: #a8a8a8;
    --btn-norm-text: #151515;
    --btn-norm-text-hover: #151515;
    --btn-cta: #1c265f;
    --btn-cta-hover: #36407e;
    --btn-cta-text: #ffffff;
    --btn-cta-text-hover: #ffffff;
    /* --------------------------- */
    --border: 1px solid #272727;
}

a {
    color: var(--link);
    text-decoration: none;
    transition: all ease 0.2s;
} a:hover {
    color: var(--link-hover);
}

img {
    max-width: 100%;
}


button {
    cursor: pointer;
    outline: none;
    border: none;
    padding: 12px 24px;
    border-radius: 4px;
    color: var(--btn-norm-text);
    background: var(--btn-norm);
} button:hover {
    color: var(--btn-norm-text-hover);
    background: var(--btn-norm-hover);
}
.cta {
    color: var(--btn-cta-text);
    background: var(--btn-cta);
} .cta:hover {
    color: var(--btn-cta-text-hover);
    background: var(--btn-cta-hover);
}

/* ========== Main Wrap ========== */
.main {
    width: min(100%, var(--main-width-1));
    margin: 0 auto;
} @media screen and (min-width: 1366px) {
    .main {
        width: min(100%, var(--main-width-1));
    }
} @media screen and (min-width: 1536px) {
    .main {
        width: min(100%, var(--main-width-2));
    }
} @media screen and (min-width: 1920px) {
    .main {
        width: min(100%, var(--main-width-3));
    }
}


/* ========== Dark Mode ========== */
.darkmode-button {
    --drkbtn-w: 50px;
    --drkbtn-h: 26px;
    z-index: 1;
    position: relative;
    width: var(--drkbtn-w);
    height: var(--drkbtn-h);
    cursor: pointer;
} @media screen and (max-width: 768px) {
    .darkmode-button {
        --drkbtn-w: 72px;
        --drkbtn-h: 36px;
    }
}
.darkmode-button input[type="checkbox"] {
    position: relative;
    opacity: 0;
    left: 12px;
}
.darkmode-button span {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow: hidden;
    background-color: #000000;
    border-radius: var(--drkbtn-h);
    transition: 0.2s ease background-color, 0.2s ease opacity;
}
.darkmode-button span:before,
.darkmode-button span:after {
    content: '';
    position: absolute;
    top: calc(var(--drkbtn-h)*0.15);
    width: calc(var(--drkbtn-h)*0.7);
    height: calc(var(--drkbtn-h)*0.7);
    border-radius: 50%;
    transition: 0.5s ease transform, 0.2s ease background-color;
}
.darkmode-button span:after {
    background-color: #ffffff;
    transform: translate(calc(var(--drkbtn-h)*0.15) ,0px);
    z-index: 0;
}
.darkmode-button input[type="checkbox"]:checked 
+ span:after {
    background-color: #000000;
    transform: translate(calc(var(--drkbtn-w) - var(--drkbtn-h)*0.85),0px);
}
.darkmode-button span:before {
    background-color: #000000;
    transform: translate(calc(var(--drkbtn-h)*-0.5), calc(var(--drkbtn-h)*-2));
    z-index: 1;
}
.darkmode-button input[type="checkbox"]:checked 
+ span:before {
    background-color: #ffffff;
    transform: translate(calc(var(--drkbtn-w) - var(--drkbtn-h)*1.15), calc(-0.25*var(--drkbtn-h)));
}
.darkmode-button input[type="checkbox"]:checked 
+ span {
    background-color: #ffffff;
}
.darkmode-button input[type="checkbox"]:active 
+ span {
    opacity: 0.5;
}
.darkmode-button label {
    color: transparent;
    font-size: 1px;
}



/* ========== RWD ========== */
.row, .row-t {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
} @media screen and (min-width: 1000px) {
    .row, .row-t {
        flex-wrap: nowrap;
    }
}
.row [class^="col"] {
    width: 100%;
} @media screen and (min-width: 1000px) {
    .row .col {width: 100%}
    .row .col-1 {width: 8.33%;} 
    .row .col-2 {width: 16.66%;} 
    .row .col-3 {width: 25%;} 
    .row .col-4 {width: 33.33%;} 
    .row .col-5 {width: 41.66%;} 
    .row .col-6 {width: 50%;} 
    .row .col-7 {width: 58.33%;} 
    .row .col-8 {width: 66.66%;} 
    .row .col-9 {width: 75%;} 
    .row .col-10 {width: 83.33%;} 
    .row .col-11 {width: 91.66%;} 
    .row .col-12 {width: 100%;}
}
.row-t [class^="col"] {
    width: 100%;
} @media screen and (min-width: 600px) {
    .row-t [class^="col"] {
        width: 50%;
    }
} @media screen and (min-width: 1000px) {
    .row-t .col {width: 100%}a
    .row-t .col-1 {width: 8.33%;} 
    .row-t .col-2 {width: 16.66%;} 
    .row-t .col-3 {width: 25%;} 
    .row-t .col-4 {width: 33.33%;} 
    .row-t .col-5 {width: 41.66%;} 
    .row-t .col-6 {width: 50%;} 
    .row-t .col-7 {width: 58.33%;} 
    .row-t .col-8 {width: 66.66%;} 
    .row-t .col-9 {width: 75%;} 
    .row-t .col-10 {width: 83.33%;} 
    .row-t .col-11 {width: 91.66%;} 
    .row-t .col-12 {width: 100%;}
}





/* ========== Navigation ========== */
nav {
    --nav-1: rgba(0, 0, 0, 0.8);
    --nav-2: blur(8.0px);
    --nav-3: 0 8px 32px 0 rgba(0, 0, 0, 0.02);

    background: var(--nav-1);
    backdrop-filter: var(--nav-2);
    box-shadow: var(--nav-3);
    
    z-index: 2;
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
}  @media screen and (max-width: 1000px) {
    nav {
        position: sticky !important;
        background: rgba(11, 14, 34, 0.9);
        backdrop-filter: none;

        padding: 0 var(--mobile-padding);
    }
}
nav .main-nav {
    display: flex;
    align-items: center;
}
nav .nav-title {
    margin-right: auto;
} 
nav .nav-button {
    position: relative;
    z-index: 11;
    display: block;
    margin-left: auto;
} @media screen and (min-width: 1000px) {
    nav .nav-button {display: none;}
}
nav .nav-links{
    overflow-y: scroll;
    background: rgba(11, 14, 34, 0.9); /* BG */
    top: -40px;
    z-index: 10;
    position: fixed;
    left: 0;
    width: 100%;
    visibility: hidden;
    opacity: 0.0;
    padding: var(--mobile-padding);
    height: calc(100% - 60px);
    margin-top: 59px;
} @media screen and (min-width: 1000px) {
    nav .nav-links{
        overflow-y: initial;
        background: transparent;
        position: relative;
        top: 0;
        left: 0;
        width: initial;
        height: initial;
        visibility: visible;
        opacity: 1.0;
        margin-top: 0;
    }
}
nav .nav-display {
    visibility: visible;
    opacity: 1.0;
    top: 0;
}
nav .nav-content {
    display: flex;
    flex-direction: column;
}
nav .nav-content a {
    z-index: 1;
    padding: 14px 0;
} 
@media screen and (min-width: 1000px) {
    nav .nav-content {
        flex-direction: row;
    }
    nav .nav-content a {
        padding: 10px 0;
    } 
}



nav .nav-sub-links .nav-sub-bg {
    background: #f0b8b800; /* BG */
    display: flex;
    /* padding: 12px; */
    gap: 4px;
    border-radius: 6px;
    flex-direction: column;
}
nav .nav-sub-links {
    position: relative;
    padding-top: 12px;
    margin-left: 16px;
}
nav .nav-sub {
    z-index: 1;
    position: relative;
}
nav .nav-sub-wrap {
    padding-top: 8px;
}
@media screen and (min-width: 1000px) {
    nav .nav-sub-links .nav-sub-bg {
        padding: 12px;
        background: #ffffff; /* BG */
    }
    nav .nav-sub-links {
        position: absolute;
        padding-top: 110px; /* Changable */
        top: -40px;
        left: 0;
        width: 100%;
        visibility: hidden;
        opacity: 0.0;
        
        margin-left: 0;
    }
    nav .nav-sub-wrap {
        display: flex;
        padding-top: 0;
    }
    nav .nav-sub-links a {
        text-align: center;
    }
    .nav-sub:hover + .nav-sub-links,
    .nav-sub-links:hover {
        visibility: visible;
        opacity: 1.0;
        top: -30px;
    }
}












/* ========== Modal Box ========== */
.modal {
    z-index: 10;
    position: fixed;
    top: 20px;
    left: 50px;
    width: 600px;
    height: 400px;
    visibility: hidden;
    opacity: 0;
    transition: all ease 0.3s;
}
.modal-display {
    /*   display: block; */
    visibility: visible;
    opacity: 1;
    top: 40px;
}
.modal > .modal-bg {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: absolute;
    background: pink;
}
.modal > .modal-content {
    background: blue;
}
.modal > .modal-close {
    background: green;
}
  


/* ========== Text System ========== */
p {
    font-size: var(--font-size-p);
} h1 {
    font-size: var(--font-size-h1);
} h2 {
    font-size: var(--font-size-h2);
} h3 {
    font-size: var(--font-size-h3);
} h4 {
    font-size: var(--font-size-h4);
} h5 {
    font-size: var(--font-size-h5);
} h6 {
    font-size: var(--font-size-h6);
}
@media only screen and (max-width: 768px) {
    p {
        font-size: var(--font-size-mobile-p);
    } h1 {
        font-size: var(--font-size-mobile-h1);
    } h2 {
        font-size: var(--font-size-mobile-h2);
    } h3 {
        font-size: var(--font-size-mobile-h3);
    } h4 {
        font-size: var(--font-size-mobile-h4);
    } h5 {
        font-size: var(--font-size-mobile-h5);
    } h6 {
        font-size: var(--font-size-mobile-h6);
    }
}

/* ========== Scroll to top ========== */
#scrolltotop {
    font-size: var(--scrolltotop-size);
    visibility: hidden;
    opacity: 0.0;
    position: fixed;
    bottom: var(--scrolltotop-bottom-distance);
    right: var(--scrolltotop-right-margin);
    z-index: var(--scrolltotop-z-index);
    border: var(--scrolltotop-border);
    outline: var(--scrolltotop-outline);
    color: var(--scrolltotop-color);
    cursor: var(--scrolltotop-cursor);
    padding: var(--scrolltotop-padding);
    background-color: var(--scrolltotop-background-color);
    transition: all ease 0.3s;
} #scrolltotop:hover {
    color: var(--scrolltotop-hover-color);
}  @media only screen and (max-width: 768px) {
    #scrolltotop {
        display: none;
    }
}

/* ========== Custom Scroll Bar ========== */
::-webkit-scrollbar { width: var(--scrollbar-width); }
::-webkit-scrollbar-track { background: var(--scrollbar-track-color); }
::-webkit-scrollbar-thumb { background: var(--scrollbar-thumb-color); }
::-webkit-scrollbar-thumb:hover { background: var(--scrollbar-thumb-hover-color); }

/* ========== Just Display On Desktop/Mobile ========== */

.just-display-on-desktop {
    display: block;
} @media only screen and (max-width: 768px) {
    .just-display-on-desktop {
        display: none;
    }
}
.just-display-on-mobile {
    display: block;
} @media only screen and (min-width: 768px) {
    .just-display-on-mobile {
        display: none;
    }
}

/* ========== Anti-copy ========== */
.anti-copy {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}


/* ========== Center Div ========== */
.center {
    display: flex;
    justify-content: center;
    align-items: center;
}
.center-x {
    display: flex;
    justify-content: center;
}
.center-y {
    display: flex;
    align-items: center;
}